#config.py

#--------------------------------------------------------------------------------
# NAVER Developpers
# https://developers.naver.com
#--------------------------------------------------------------------------------
clientID = "ooOooOOOOOOOOoooooOoO"
clientSecret = "oOoOoooOoooO"
